.alert-container {
  width: 96vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  right: 41%;
  padding: 10px;
  /* width: 300px; */
  display: flex;
  text-align: center;
  justify-content: center;
}
