.login-container {
  height: 89vh;
  width: 100%;
  margin-top: 42px;
  margin-left: -18px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* row-gap: -20px; */
}
.login-image-container {
  flex-basis: 60%;
  height: 100%;
  /* border: 1px solid black; */
}
.login-image {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.login-details {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-contents {
  height: 80%;
  flex-basis: 80%;
  /* border: 1px solid black; */
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
#login-text {
  flex-basis: 20%;
  text-align: center;
  padding: 20px;
}
.textfields {
  flex-basis: 90%;
  color: white;
}
#submit {
  flex-basis: 90%;
  height: 5%;
  background: green;
}
.goto-signup {
  flex-basis: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  align-content: center;
}
.new-user {
  flex-basis: 30%;
  height: 80%;
  padding-top: 12px;
  /* border: 1px solid black; */
}
.signup-button {
  flex-basis: 40%;
  height: 100%;
  /* border: 1px solid black; */
}
