.header {
  height: 8vh;
  padding: 10px;
  /* display: flex; */
  /* border: 1px solid black; */
}
.img-container {
  /* border: 1px solid black; */
  flex-basis: 5%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.img {
  width: 100%;
  height: 80%;
}
