.signup-c {
  height: 89vh;
  /* height: 85vh; */
  width: 100%;
  display: flex;
  margin-top: 42px;
  margin-left: -18px;
}
.signup-image-container {
  flex-basis: 60%;
  height: 100%;
}
.signup-image {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.signup-container {
  height: 100%;
  flex-basis: 40%;
  /* border: 1px solid black; */
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.signup {
  flex-basis: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#signup-text {
  flex-basis: 20%;
  text-align: center;
  padding: 20px;
}
.signup-textfields {
  flex-basis: 90%;
  height: 20%;
}
#submit {
  flex-basis: 90%;
  height: 10%;
}
