.userDetails {
  border-bottom: 1px solid black;
  flex-basis: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userContents {
  flex-basis: 20%;
  display: flex;
  align-content: center;
}
.edit-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
}
.editSubmit {
  flex-basis: 90%;
  height: 10%;
}
.textfields {
  flex-basis: 90%;
}
.form-contents {
  display: flex;
  flex-basis: 90%;
  justify-content: space-evenly;
  /* column-gap: 20px; */
  align-items: center;
  /* border: 1px solid black; */
}

#date-picker {
  width: 80%;
}
.form-name {
  flex-basis: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.form-date {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
