.profile-container {
  height: 90vh;
  flex-basis: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-heading {
  flex-basis: 90%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
}
.profile-details {
  flex-basis: 95%;
  height: 70%;
}
.profile-details::-webkit-scrollbar {
  display: none;
}
.details {
  flex-basis: 90%;
  height: 10%;
  font-size: 20px;
  padding: 20px;
}
.profile-headers {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  height: 5%;
  align-content: center;
}
.headers-container {
  background-color: #2e7d32;
}
.headers {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 100%;
  color: white;
}
.white {
  color: white;
}
.profile-heading-container {
  display: flex;
  flex-basis: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
}
.profile-heading {
  height: 60%;
  flex-basis: 93%;
}
.logout-button {
  height: 45%;
}
.downloadbtn {
  text-decoration: none;
  color: white;
  display: none;
}
.checkbox {
  border: 1px solid black;
}
.import-popover {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}
.upload-contents {
  flex-basis: 100%;
  display: flex;
  height: 20%;
  justify-content: center;
  flex-wrap: wrap;
}
.upload-label {
  height: 40%;
  flex-basis: 100%;
}
.upload-main {
  height: 40%;
}
.upload-file {
  height: 50%;
  flex-basis: 100%;
  padding-left: 25px;
  padding-top: 5px;
  box-sizing: border-box;
}
.upload-button {
  height: 15%;
}
.pagination-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.pagination {
  flex-basis: 59%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.import-export {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
